@import './reset';
@import './fonts';
@import './colors';

html,
* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1,
h2,
h3,
h4,
p,
span {
    font-family: 'Nunito', sans-serif;
}